@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    font-family: 'Roboto', sans-serif;
}



.navbar {
    display: flex;
    height: 67px;
    font-family: 'Acme', sans-serif;
}

.navbar li {
    list-style: none;
    margin: 0px 12px;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a span {
    color: black;
}

.font-bold {
    font-family: 'Kaushan Script', cursive;
    font-size: xx-large;
    font-weight: bold;
}


.section1 h1 {
    color: #37110d;
    font-size: 2rem;
}

footer {
    background-color: #181818;
    padding: 4% 4%;
}

.container2 {
    max-width: 960px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row p {
    font-family: 'Oswald', sans-serif;
}

.col-md-4 {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
}

.social-icons li {
    list-style: none;
}

#join-us-btn {
    display: block;
    margin: 2% auto;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
}

#join-us-btn a {
    text-decoration: none;
    color: #ffffff;
}